.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;
}

h1{
    margin-top: 1rem;
    border: 1px solid rgb(31, 146, 199);
    padding: 1rem 10%;
    border-radius: 2rem;
}